
        h1{
            color: red;
            font-size: 40px;

        }
        #first-heading{
            color:blue;


        }
        .brown{
            color: brown;
        }
        .box{
            width: 400px;
            height: 400px;
            background-color: orange;
            border: 7px solid;
            border-color: black;
            padding: 25px;
            padding-bottom: 20px;
            margin-bottom: 16px;
            margin-left: 25px;
           border-top-right-radius: 20px;
           border-radius: 50px;
        }
        p{
            text-align: center;
            text-decoration:line-through;
            font-size: 60px;
            color: black;
        }
        a{
           margin-left: 50px; 
        }