body{
    padding: 16px;
}
.box{
    background-color: royalblue;
    width: 300px;
    height: 300px;
    margin: 32px auto;
    transition-property: transform;
    transition-duration: 100ms;
    transition-delay: 1000ms;
transition-timing-function: ease-in;
}
.box{
   transform: scale(2); 
}
.box:hover{
   transform: scale(1.2); 
}